h1{
    color: red;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: red;
}
h3{
   text-decoration: underline;
}
img.introterre{
    width: 310px;
    height: 300px;
}
img.era{
    width: 250px;
    height: 220px;
    float: left;
}
img.introsys{
    float: left;
}
img.comparaison{
    width: 700px;
    height: 400px;
}
img.gal{
    width: 290px;
    height: 220px;
    float: left;
}
img.introsyst{
    width: 400px;
    height: 200px;
    float: left;
}
.card-img-top {
    height: 150px;
    object-fit: contain;
}
a {
  color: #ff0000;
  background-color: hsl(0, 0%, 0%);
  transition: all 1s ease-out;
  width: 100px;
  border: 1px solid #ff0000;
  border-radius: 18px;
  outline: 0;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font: bold 12px Verdana;
}

a:hover,
a:focus {
  color: #ff0000;
  background-color: hsl(0, 0%, 0%);
}
html,
body {
  margin: 0;
  padding: 0;
}

nav {
  padding: 12px;
  background-color: #ff0000;
}

a:not(:last-child) {
  margin-right: 12px;
}
.mercure{
    float: left;
    width: 300px;
    height: 230px;
}
p{
    margin-right: 2em;
}
.article{
    display: flex;
    
}

.haut{
   display: flex; 
   justify-content: center;
}
.supernova{
    height: 200px;
    width: 300px;
    float: left;
}
.sattelites{
    width: 900px;
    height: 500px;
}
p{
    color: rgb(0, 0, 0);
}


