h1{
    color: red;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: red;
}
h3{
   text-decoration: underline;
}
img.introterre{
    width: 310px;
    height: 300px;
}
img.era{
    width: 250px;
    height: 220px;
    float: left;
}
img.introsys{
    float: left;
}
img.comparaison{
    width: 400px;
    height: 300px;
}
img.gal{
    width: 290px;
    height: 220px;
}
img.introsyst{
    width: 400px;
    height: 200px;
    float: left;
}
.card-img-top {
    height: 150px;
    object-fit: contain;
}
a {
  color: #000000;
  background-color: hsl(0, 0%, 100%);
  transition: all 1s ease-out;
  width: 100px;
  border: 1px solid #000000;
  border-radius: 18px;
  outline: 0;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font: bold 12px Verdana;
}

a:hover,
a:focus {
  color: #ffffff;
  background-color: hsl(0, 0%, 0%);
}
html,
body {
  margin: 0;
  padding: 0;
}

nav {
  padding: 12px;
  background-color: #ffffff;
}

a:not(:last-child) {
  margin-right: 12px;
}
.mercure{
    float: left;
    width: 300px;
    height: 230px;
}
p{
    margin-right: 2em;
}
.article{
    display: flex;
    
}

.haut{
   display: flex; 
   justify-content: center;
}
.supernova{
    height: 200px;
    width: 300px;
    float: left;
}
.sattelites{
    width: 900px;
    height: 500px;
}
img.Protérozoïque{
    height: 310px;
    width: 300px;
}
img.trounoir{
    height: 300px;
    width: 400px;
}
.card {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.card:hover,
.card:focus,
.card:active {
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
  transform: scale(1.1);
}

#toast {
  visibility: hidden; /* Caché par défaut */
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed; /* Indispensable pour flotter */
  z-index: 9999; 
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* La classe qui fait apparaître le toast */
#toast.show {
  visibility: visible;
  animation: fadein 0.5s;
}